* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
    height: 1580px;
    margin: 0 auto;
}
.contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
}
.bgVideo {
    position: relative;
    height: 600px;
    background-color: #000;
}
.bgVideo .contents {
    position: relative;
    height: 100%;
    margin: 0 auto;
}
.img_wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.img_wrap img {
    position: relative;
    width: 100%;
    height: 100%;
}
.new {
    align-content: center;
    font-size: 30px;
    color: white;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -0px;
    z-index: 1;
}
.slideContent {
    height: 360px;
    background-color: wheat;
}
.slideContent .contents {
    padding: 50px 30px 60px;
}
.movieChart {
    margin-bottom: 20px;
    align-items: center;
}
.tabBtn_wrap {
    display: inline-flex;
}
.tabBtn_wrap h3 {
    height: auto;
    margin: 0;
}
.tabBtn_wrap h3~h3 {
    margin-left: 32px;
}
.tabBtn_wrap h3 a {
    text-decoration: none;
}
.film {
    width: 100%;
}
.film div {
    float: left;
    padding: 90px 50px;
    margin-right: 32px;
    background-color: burlywood;
}
.contact {background-color: rgb(221, 221, 221);}
.contact .contents {
    display: flex;
}
.con {
    float: left;
    width: 33.33%;
    height: 270px;
    margin: 25px;
    border: 1px solid;
}
.info_link {
    display: block;
    padding: 10px 0;
    column-count: 2;
    margin: 0 auto;
}
.table {
    display: table;
    width: 100%;
}
.cell {
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.cell a {
    display: inline-block;
    text-decoration: none;
}
i.icon1 {
    width: 46px;
    height: 46px;
    background-image: url(../img/고객센터.png);
}
footer {
    height: 100px;
    background-color: #ebebeb;
}
.f2 {
    float: left;
    width: 70%;
    text-align: center;
}
.f3 {
    float: left;
    width: 30%;
    text-align: center;
}