table {
    border-collapse: collapse;
    margin: 50px auto;
}
th, td {
    border: 1px solid #ca1919;
    padding: 15px 30px;
}
td:nth-child(1) {
    text-align: center;
}
tr:nth-child(1) {
    background-color: #da2dda;
}