.container {
    position: relative;
    background-color: antiquewhite;
}
.black {
    position: relative;
    height: 100px;
    margin: 30px;
    border: 2px solid black;
    z-index: 1;
}
.gray {
    position: absolute;
    width: 70%;
    height: 60px;
    left: 50px;
    top: 50px;
    background-color: lightgray;
    z-index: 3;
}
.green {
    position: absolute;
    width: 35%;
    height: 100px;
    left: 270px;
    top: -15px;
    background-color: lightgreen;
    z-index: 2;
}