li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    width: 200px;
    text-align: center;
}
nav ul a {
    display: block;
    text-align: center;
    padding: 10px;
}
.menu {
    position: relative;
}
.menu:hover>a {
    background-color: #ff50ff;
    color: #fff;
}
.submenu {
    background-color: #fff;
    width: 100%;
    z-index: 998;
    display: none;
}
.submenu li:hover a {
    background-color: #ffcbff;
}