.logo {
    float: left;
    height: 100px;
    padding-top: 30px;
}
nav {
    float: left;
    width: 1000px;
    height: 100px;
    padding: 60px 100px 0 0;
}
.mainmenu {
    float: right;
}
.menu {
    float: left;
}
.menu>a, .submenu>li>a {
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    align-content: center;
}
.submenu>li>a {
    background-color: yellowgreen;
    color: #fff;
}
.menu>a:hover {
    background-color: rebeccapurple;
    color: #fff;
}
.submenu>li>a:hover {
    background-color: #fff;
    color: inherit;
}